.H1Contactanos{
color: blue !important;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
}

.H5Contactanos{
display: flex;
justify-content: center;
align-items: center;
color: blue !important;
padding: 10px;
}

