.H1Contactanos {
  display: flex;
  justify-content: center;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.H3Contactanos {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

.contC {
  width: 50%;
  padding: 20px;
}

.textC {
  color: #fe642c !important;
}

.H3Contactanos {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    .colC {
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
  }
}
