.textR {
  margin-left: 20px;
}

.logoR {
  width: 20%;
  height: 20%;
  border-radius: 70px;
  margin: 5px;
<<<<<<< HEAD
  object-fit: cover;
  float: left;
=======
>>>>>>> dcbfe5b70682a82a8034e85bc065ad2bdbe6c6c6
}

.ContainerR {
  background-image: url(../../assets/b1.jpg);
  background-size: cover;
  font-size: 8px;
  min-height: 100vh;
  margin: 0px;
  position: relative;
}

.formRu {
  background-color: rgba(246, 245, 244, 0.635);
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  margin-bottom: 20%;
  margin-top: 0%;
  width: 80%;
}

h1 {
  display: flex;
  justify-content: center;
  color: black !important;
}

<<<<<<< HEAD
h1 {
  display: flex;
  justify-content: center;
  color: black !important;
  margin-top: 30px;
}
.logoR {
  margin-left: -80px;
=======
.form-group .ItemR {
  width: 90%;
  border: none;
  padding: 0px;
  padding-right: 5px;
>>>>>>> dcbfe5b70682a82a8034e85bc065ad2bdbe6c6c6
}

.form-group .ItemR {
  width: 90%;
  margin-left: 20px;
}
.imp {
  margin-left: 30px;
}
<<<<<<< HEAD
.imp1 {
  margin-left: 40px;
}

@media only screen and (max-width: 830px) {
  .logoR {
    width: 20%;
    height: 20%;
    border-radius: 70px;
    margin: 5px;

    object-fit: cover;
    float: left;
  }
}
.ant-row .ContReg {
  justify-content: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
=======
>>>>>>> dcbfe5b70682a82a8034e85bc065ad2bdbe6c6c6
