.ContainerL {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(234, 238, 238);}



.ant-row {
  display: flex;
  justify-content: center;
}

.ant-row.Card {
  display: flex;
  justify-content: center;
  width: 90%;
}
.ant-card {
  width: 50%;
  justify-content: center;
  margin: 0;
  font-size: calc(1em + 1vw)

  }

.Contacto {
  padding: 10px;
  width: 100%;
}
.TextHomeContainer {
  margin-left: 0px;
}
.img-c {
  width: 20%;
  height: 20%;
  border-radius: 150px;
  display: flex;
  justify-content: flex-start;
}

<<<<<<< HEAD
.about{
  display:flex;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;


}

.aboutrow{
  display: flex;
  flex-direction: row;
}


.divArriba{
  width: 100%;
 
  
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;

  
    
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 30px;
  
}

.divAbajo{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  flex-direction: column;

  
   
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 50px;
}


=======
>>>>>>> 36a1625662775547a9792c1933b7ba365a7da30c

@media only screen and (max-width: 600px) {

  .category {
    display: flex;
    flex-direction: column;
  }
}

       

       .aboutrow{
        display: flex;
        flex-direction: column;
    }
       
     
    @media only screen and (max-width: 1090px) {
    .ContainerTabla {
     
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
     
       }
       
       
     }
    
     @media screen and (max-width:480px){
      .TextHomeContainer {
        font-size:50%;
    
      } 
      .img-c  {
      
        width: 90%;
        
  
      }

      .formLogin{
        justify-content: center;
        border: none;
       outline: none;
        width: 100%;
       margin-bottom: 20px;
      }

      .form-group input {
        border: none;
        outline: none;
        width: 100%;
        margin-bottom: 5px;
      }

      
    }

    
    
    

     
     
