.ContainerL {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(234, 238, 238);}


.about {
  justify-content: center;
  display: -ms-flex;
  display: -webkit-flex;
  
  text-align:left;

  padding: 10px;
}
.about .Col {
  width: 50%;
  padding: 10px;
}

.ant-row {
  display: flex;
  justify-content: center;
}

.ant-row.Card {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Contacto {
  padding: 10px;
  width: 100%;
}
.TextHomeContainer {
  margin-left: 0px;
}
.img-c {
  width: 20%;
  height: 20%;
  border-radius: 150px;
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .category {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1090px) {
  .ContainerTabla {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}

@media screen and (max-width: 480px) {
  .TextHomeContainer {
    font-size: 50%;
  }
  .img-c {
    width: 90%;
  }

  .formLogin {
    justify-content: center;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-group input {
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 5px;
  }
}
